header{
    width: 100%;
    height: 78px;
    background-color: #333333;
    color: white;
    opacity: 10;   
    position:fixed;
    z-index:1000;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
    
}

header nav {
    display: flex;
    justify-content: space-between; 
    
}


header nav .nav-initial-section{
        display: flex;
        align-items: center;
        height: auto;
        margin-left: 15px;
        font-size: 17px;
}

header nav .nav-right-section{
    list-style: none;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

}

nav .nav-right-section a{

    font-size: 17px;
    margin-right: 10px;
    color: white;
   
    
}


nav .nav-right-section a:hover{
    background-color: #cccccc;
}


nav .nav-right-section img{
    height: 40px;
    margin-left: -15px;
}

